<div class="card">
  <div class="card-body">
      <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <div class="float-md-left">
                  <div class="row">
                    <div class="col-md-3">
                      <img [src]="wallet.iconUrl" alt="{{ wallet.name }}" class="img-responsive" style="max-height: 100px;">
                    </div>
                    <div class="col-md-9">
                      <h5 class="card-title">{{ wallet.name }}</h5>
                      <h6 class="card-subtitle text-muted">
                        {{ wallet.address }}
                      </h6>
                    </div>
                  </div>
                </div>
                <div class="float-md-right">
                  <button class="btn btn-primary" [routerLink]="['/wallets']">Return</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card card-inverse bg-light">
            <div class="card-body ">
              <div class="row">
                <div class="col-md-4" *ngFor="let token of wallet.tokens">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">{{ token.name }}</h5>
                      <h6 class="card-subtitle text-muted">
                        {{ token.symbol }} {{ token.balance }}
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  </div>
</div>
  