<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let wallet of wallets">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ wallet.name }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ wallet.ethBalance }}</h6>
          <p class="card-text">{{ wallet.address }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body text-center">
          <button class="btn btn-success" [routerLink]="['/add-wallet']">Add Wallet</button>
        </div>
      </div>
    </div>
  </div>
</div>