<div class="row">
  <div class="col-md-4 mx-auto">
      <app-wallet-remove></app-wallet-remove>
  </div>
  <div class="col-md-4 mx-auto">
      <app-wallet-add></app-wallet-add>
  </div>
</div>
<hr>
<div class="card card-inverse bg-light">
  <div class="loader" *ngIf="!isLoaded">Loading...</div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-4" *ngFor="let walletElement of wallets; let i = index">
        <app-wallet-list-item [wallet]="walletElement" [walletId]="i"></app-wallet-list-item>
      </div>
    </div>
  </div>
</div>